body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.flash-notice{color:green}
table.admin-table-list{border-collapse:collapse}
tr.heading,tr.filters{background-color:#DEDBDE}
.light{background-color:#FFFBFF}
.dark{background-color:#F7F7F7}

.pagination {padding: 3px;margin: 3px;}
.pagination a {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid black;text-decoration: none;color: black;background-color:white;}
.pagination a:hover, .pagination a:active {border: 1px solid gray;color: white;background-color:gray;}
.pagination span.disabled {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid gray;color:gray;background-color: white;}
.pagination span.current {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid black;font-weight: bold;background-color: black;color:white;}

.integer-column,.float-column,.decimal-column{text-align:right}
.boolean-column{text-align:center}

form.cmxform fieldset {margin-bottom: 10px;}
form.cmxform legend {padding: 0 2px;font-weight: bold;}
form.cmxform label {display: inline-block;line-height: 1.8;vertical-align: top;}
form.cmxform fieldset ol {margin: 0;padding: 0;}
form.cmxform fieldset li {list-style: none;padding: 5px;margin: 0;}
form.cmxform fieldset fieldset {border: none;margin: 3px 0 0;}
form.cmxform fieldset fieldset legend {padding: 0 0 5px;font-weight: normal;}
form.cmxform fieldset fieldset label {display: block;width: auto;}
form.cmxform em {font-weight: bold;font-style: normal;color: #f00;}
form.cmxform label {width: 120px; /* Width of labels */}
form.cmxform fieldset fieldset label {margin-left: 123px; /* Width plus 3 (html space) */}
