<div class="admin-container-form">
<h1><%%= translate(:editing, :default => "Editing {{model}}", :model => <%= class_name %>.human_name, :scope => [:railties, :scaffold]) %></h1>

<div class="admin-control">
  <div class="item-show"><%%= link_to translate(:show, :default => 'Show', :scope => [:railties, :scaffold]), @<%= singular_name %> %></div>
  <div class="back"><%%= link_to translate(:back, :default => 'Back', :scope => [:railties, :scaffold]), <%= plural_name %>_path %></div>
</div>

<%% cute_admin_form_for(@<%= singular_name %>) do |f| %>
  <%%= f.error_messages %>
  <%%= render :partial => "form", :locals => {:f => f} %>
  <div class="admin-submit">
    <%%= f.submit translate(:update, :default => "Update", :scope => [:railties, :scaffold]) %>
  </div>
<%% end %>
</div>